<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<header>
    <toolbar name="model.name" display-name="model.displayName" actions='actions'></toolbar>
</header>
<form novalidate name="clientForm" role="form">
    <fieldset>
         <!-- <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>-->
        <div class="form-group col-md-12" ng-class="{'has-success': clientForm.lastName.$valid && clientForm.lastName.$dirty, 'has-error': clientForm.lastName.$invalid && clientForm.lastName.$dirty}" >
            <label for="lastName" class="col-md-2 control-label">Last Name</label>
            <div class="col-md-10">
                <input id="lastName" name="lastName" class="form-control" type="text" ng-model="currentRecord.lastName" ng-required="true" />
            </div>

            <label for="firstName" class="col-md-2 control-label">First Name</label>
            <div class="col-md-10">
                <input id="firstName" name="firstName" class="form-control" type="text" ng-model="currentRecord.firstName" ng-required="true" />
            </div>
            
            <label for="login" class="col-md-2 control-label">Login</label>
            <div class="col-md-10">
                <input id="login" name="login" class="form-control" type="text" ng-model="currentRecord.login" ng-required="true" />
            </div>
            
            <label for="phone" class="col-md-2 control-label">Phone</label>
            <div class="col-md-10">
                <input id="phone" name="phone" class="form-control" type="text" ng-model="currentRecord.phone" ng-required="true" />
            </div>
            
            <label for="address" class="col-md-2 control-label">Address</label>
            <div class="col-md-10">
                <input id="address" name="address" class="form-control" type="text" ng-model="currentRecord.address" ng-required="true" />
            </div>
            
            <label for="email" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input id="email" name="email" class="form-control" type="text" ng-model="currentRecord.email" ng-required="true" />
            </div>
        </div>
    </fieldset>
</form>
