<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-messages="favoriteForm.$error" multiple>
    <ng-message when="required">
        <alert type="warning">Please, Fill the required fields!</alert>
    </ng-message>
    <ng-message when="url">
        <alert type="warning">Image field must be a URL</alert>
    </ng-message>
</div>
<header>
    <toolbar name="model.name" display-name="model.displayName" actions='actions'></toolbar>
</header>
<form novalidate name="favoriteForm" role="form">
    <fieldset>
        <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
        <div class="form-group col-md-12" ng-class="{'has-success': favoriteForm.idBicyle.$valid && favoriteForm.idBicyle.$dirty, 'has-error': favoriteForm.idBicyle.$invalid && favoriteForm.idBicyle.$dirty}" >
            <label for="idBicyle" class="col-md-2 control-label">idBicyle</label>
            <div class="col-md-10">
                <input id="idBicyle" name="idBicycle" class="form-control" type="number" ng-model="currentRecord.idBicyle" ng-required="true" />
            </div>

            <label for="idClient" class="col-md-2 control-label">idClient</label>
            <div class="col-md-10">
                <input id="descripcion" name="idClient" class="form-control" type="number" ng-model="currentRecord.idClient" ng-required="true" />
            </div>

        </div>
    </fieldset>
</form>
