<div ng-messages="shoppingForm.$error" multiple>
    <ng-message when="required">
        <alert type="warning">Please, Fill the required fields!</alert>
    </ng-message>
    <ng-message when="url">
        <alert type="warning">Image field must be a URL</alert>
    </ng-message>
</div>


<div ui-view="shoppingView"></div>

<header>
    <div ncy-breadcrumb></div>
    <toolbar name="model.name" display-name="model.displayName" actions='actions'></toolbar>
</header>
<form novalidate name="shoppingForm" role="form">
    <fieldset>
        <legend>Compra:</legend>
        <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
        <div class="form-group col-md-12" ng-class="{'has-success': shoppingForm.dateOfPurchase.$valid && shoppingForm.dateOfPurchase.$dirty, 'has-error': shoppingForm.dateOfPurchase.$invalid && shoppingForm.dateOfPurchase.$dirty}" >
            <label for="dateOfPurchase" class="col-md-2 control-label">Date of Purchase</label>
            <div class="col-md-10">
                <input id="dateOfPurchase"  name="dateofpurchase" class="form-control" type="text" ng-model="currentRecord.dateOfPurchase" ng-required="true" />
            </div>
        </div>
        <div class="form-group col-md-12" ng-class="{'has-success': shoppingForm.paymentStatus.$valid && shoppingForm.paymentStatus.$dirty, 'has-error': shoppingForm.paymentStatus.$invalid && shoppingForm.paymentStatus.$dirty}" >
            <label for="paymentStatus" class="col-md-2 control-label">Payment Status</label>
            <div class="col-md-10">
                <input id="paymentStatus" value="SINPAGO" name="paymentStatus" class="form-control" type="text" ng-model="currentRecord.paymentStatus" ng-required="true" />
            </div>
        </div>
                       
    </fieldset>
</form>
