<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" >
        <div class="item active"  ng-if="$index === 0"  ng-repeat="record in records" id="{{$index}}-{{'image'}}">
            <img ng-src="{{record['image']}}" alt="{{$index}}" style="width:100%;">
            <div class="carousel-caption"><h3>{{record['name']}}</h3></div>
        </div>
        <div class="item"  ng-if="$index != 0"  ng-repeat="record in records" id="{{$index}}-{{'image'}}">
            <img ng-src="{{record['image']}}" alt="{{$index}}" style="width:100%;">
            <div class="carousel-caption"><h3>{{record['name']}}</h3></div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev" ng-non-bindable>
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" ng-non-bindable>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
