<div>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><em class="fa fa-search"></em></div>
                <input type="text" class="form-control" placeholder="Busqueda General" ng-model="searchGen">
            </div>      
        </div>

        <!--panel-->
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapse1" ng-click="busquedaGeneralVisible = !busquedaGeneralVisible; searchGen = '' ">
                <h3 class="panel-title">
                    Búsqueda avanzada:
                </h3>
            </div>
            <div id="collapse1" class="collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6" >
                            <p>Estado: <input type="text" class="form-control" ng-model="searchGen.status"></p>
                            <p>Descripción: <input type="text" class="form-control" ng-model="searchGen.description"></p>
                            <p>Nombre: <input type="text" class="form-control" ng-model="searchGen.name"></p>
                            <p>Cantidad: <input type="text" class="form-control" ng-model="searchGen.stock"></p>
                        </div>
                        <div class="col-sm-6" >
                            <p>Color: <input type="text" class="form-control" ng-model="searchGen.color"> </p>
                            <p>Marca: <input type="text" class="form-control" ng-model="searchGen.brand.name"> </p>
                            <p>Precio: <input type="text" class="form-control" ng-model="searchGen.price"> </p>
                            <p>Categoría: <input type="text" class="form-control" ng-model="searchGen.category.description"> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/panel-->
    </form>  

    <table class="table table-bordered table-striped" id="customers" >
        <thead>
            <tr>
                <th ng-if="checklist" id="check-all"><input type="checkbox" ng-click="checkAll()"/></th>
                <th ng-if="thumbnail"></th>
                <th ng-repeat="(fieldName, field) in fields">      
                    <a href="#" ng-click="sortBy(fieldName)">
                        {{field.displayName}}
                        <span ng-show="sortType == fieldName && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == fieldName && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th ng-if="actions">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records| orderBy:sortType:sortReverse | filter:searchGen">
                <td ng-if="checklist" id="{{$index}}-selected"><input type="checkbox" ng-model="record.selected"/></td>
                <td style="text-align: center" ng-if="thumbnail">
                    <img ng-src="{{(thumbnailUri| filter:{id: record.id})[0].image}}" width="auto" height="100">
                </td>
                <td ng-repeat="(fieldName, field) in fields" ng-switch="field.type" id="{{$parent.$index}}-{{fieldName}}">
                    <div ng-switch-when="Computed">{{field.fn(record)}}</div>
                    <div ng-switch-when="Currency">{{record[fieldName]| currency}}</div>
                    <div ng-switch-when="Date">{{record[fieldName]| date}}</div>
                    <div ng-switch-when="Reference">{{record[fieldName].name}}</div>
                    <div ng-switch-when="Boolean"><span ng-if="record[fieldName] != undefined" class="glyphicon" ng-class="{'glyphicon-check': record[fieldName], 'glyphicon-unchecked': !record[fieldName]}"></span></div>
                    <div ng-switch-when="Image"><a ng-href="{{record[fieldName]}}">URL</a></div>
                    <div ng-switch-when="String">{{record[fieldName]}}</div>
                    <div ng-switch-when="Discount">
                        <span ng-if="record[fieldName] != undefined" ><font color="red"><b>{{record[fieldName] * 100| number :1 }}%</b></font></span>
                        <span ng-if="record[fieldName] == undefined" >N/A</span>
                    </div>        
                    <div ng-switch-default>{{record[fieldName]}}</div>
                </td>
                <td ng-if="actions">
                    <button ng-repeat="(key, action) in actions" id="{{$parent.$index}}-{{key}}-btn" ng-class="action.class || 'btn btn-info btn-block'" ng-hide="action.show && !action.show(record)" ng-click="action.fn(record)"><span class="glyphicon glyphicon-{{action.icon}}"></span> {{action.displayName}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



    