<div>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Busqueda" ng-model="searchGen">
            </div>      
        </div>
    </form>  

    <table class="table table-bordered table-striped" id="customers" >
        <thead>
            <tr>
                <th ng-if="checklist" id="check-all"><input type="checkbox" ng-click="checkAll()"/></th>
                <th ng-if="thumbnail"></th>
                <th ng-repeat="(fieldName, field) in fields">      
                    <a href="#" ng-click="sortBy(fieldName)">
                        {{field.displayName}}
                        <span ng-show="sortType == fieldName && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == fieldName && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th ng-if="actions">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records| orderBy:sortType:sortReverse | filter:searchGen">
                <td ng-if="checklist" id="{{$index}}-selected"><input type="checkbox" ng-model="record.selected"/></td>
                <td style="text-align: center" ng-if="thumbnail">
                    <img ng-src="{{(thumbnailUri| filter:{id: record.id})[0].image}}" width="auto" height="100">
                </td>
                <td ng-repeat="(fieldName, field) in fields" ng-switch="field.type" id="{{$parent.$index}}-{{fieldName}}">
                    <div ng-switch-when="Computed">{{field.fn(record)}}</div>
                    <div ng-switch-when="Currency">{{record[fieldName]| currency}}</div>
                    <div ng-switch-when="Date">{{record[fieldName]| date}}</div>
                    <div ng-switch-when="Reference">{{record[fieldName].name}}</div>
                    <div ng-switch-when="Boolean"><span ng-if="record[fieldName] != undefined" class="glyphicon" ng-class="{'glyphicon-check': record[fieldName], 'glyphicon-unchecked': !record[fieldName]}"></span></div>
                    <div ng-switch-when="Image"><a ng-href="{{record[fieldName]}}">URL</a></div>
                    <div ng-switch-when="String">{{record[fieldName]}}</div>
                    <div ng-switch-default>{{record[fieldName]}}</div>
                </td>
                <td ng-if="actions">
                    <button ng-repeat="(key, action) in actions" id="{{$parent.$index}}-{{key}}-btn" ng-class="action.class || 'btn btn-info btn-block'" ng-hide="action.show && !action.show(record)" ng-click="action.fn(record)"><span class="glyphicon glyphicon-{{action.icon}}"></span> {{action.displayName}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>



    