@font-face {
    font-family: 'Remachine';
    src: url('RemachineScript_Personal_Use.ttf');
}

@font-face {
    font-family: 'Buffalo';
    src: url('BuffaloNickel.ttf');
}

@font-face {
    font-family: 'EncodeSansBold';
    src: url('EncodeSansCondensed-Bold.ttf');
}

@font-face {
    font-family: 'EncodeSans';
    src: url('EncodeSansCondensed-Medium.ttf');
}

p {
    font-family: EncodeSans;
}

footer {
    background-color: #E6E6FA;
    text-align: center;
    padding: 3rem;
    color: black;
}

footer h3 {
    font-size: 4rem;
}

footer p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

footer a {
    margin: 0.5rem;
    color: #ccc !important;
    text-decoration: none;
}

footer a:hover {
    margin: 0.5rem;
    color: #eee !important;
    text-decoration: none;
    cursor: pointer;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.navbar {
    background-color: black;
    font-family: EncodeSans !important;
    font-size: 1.8rem;
    color: black;

}

.navbar-secondary {
    background-color: #f2f2f2;
    font-family: EncodeSans !important;
    font-size: 1.8rem;
    color: black;

}

.navbar-brand {
    margin-left: 1rem !important;
}

#bicico-index-bienvenida-container {
    background-image: url("home.jpg");
    background-size: cover;
    height: 80rem;
}

#bicico-index-bienvenida-container div {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    margin-top: 15% !important;
    padding: 5rem;
    width: 40%;
    margin: 0 auto;
}

#bicico-index-bienvenida-container h1 {
    font-size: 12rem;
}

#bicico-index-bienvenida-container p {
    margin-bottom: 4rem;
    font-size: 2.2rem;
}

#bicico-index-bienvenida-container a {
    margin-top: 2rem;
    color: black;
    background-color: #F8F8FF;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    font-family: EncodeSans;
    font-size: 2rem;
}

#bicico-index-bienvenida-container a:hover {
    background-color: #F08080;
}

#bicico-index-productos-container {
    background-color: #F7F7F7;
    text-decoration: none;
}

#bicico-index-productos-container img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers img {
    border-radius: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
}

#bicico-index-productos-container img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

#bicico-index-servicios-c-container h3,
#bicico-index-servicios-p-container h3 {
    font-family: EncodeSans;
    margin-bottom: 6rem;
}

#bicico-index-servicios-c-container h4,
#bicico-index-servicios-p-container h4 {
    font-family: EncodeSansBold;
    margin-top: 3rem;
}

.bicico-index-services-c-container {
    background-color: #C6DABF;
    height: 12rem;
    width: 12rem;
    padding-top: 15%;
    margin: 0 auto;
}

.bicico-index-services-p-container {
    background-color: #F3E9D2;
    height: 12rem;
    width: 12rem;
    padding-top: 15%;
    margin: 0 auto;
}

.bicico-index-productos-texto {
    background-color: white;
}

.bicico-index-productos-texto h3 {
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 2rem;
    font-family: EncodeSans;
}

.bicico-logo {
    font-family: EncodeSans;
}

.bicico-index-section {
    padding: 8rem 0;
}

.bicico-index-section h2 {
    font-family: Buffalo;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 7rem;
}

.bicico-right {
    float: right !important;
}

.bicico-left {
    float: left;
}

.bicico-encode-sans {
    font-family: EncodeSans;
}

.bicico-border {
    border: 0.1rem solid #DDD;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}

.navbar.bicico-logo {
    font-size: 5rem;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.center{
    text-align: center;
    display: inherit;
}

.center > div { /* It is the fix if there are any div tag inside center tag */
    margin-left: auto;
    margin-right: auto;
}